.app {
    max-width: 1200px;
    width: 100%;
}
.app-header {
    text-align: center;
    font-weight: 500;
    color: grey;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
}
.shop {
    width: 250px;
    cursor: pointer;
    height: auto;
    float: left;
    background-color: yellow;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
    transition: box-shadow .3s;
    white-space: pre-wrap;
    word-wrap: break-word;

    &:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}
.product {
    width: 600px;
    height: auto;
    float: left;
    background-color: lightgreen;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
    transition: box-shadow .3s;
    white-space: pre-wrap;
    word-wrap: break-word;

    &:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}
.error-title {
    text-align: center;
}
.error {
    width: 100%;
    height: auto;
    background-color: #ff6347;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
    transition: box-shadow .3s;
    white-space: pre-wrap;
    word-wrap: break-word;

    &:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}
.shop-title {
    margin: 0;
    margin-bottom: 5px;
}
.shops-grid {
    margin: 0 auto;
}
.plus {
    float: right;
    width: auto;
    background-color: #4CAF50;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    padding: 1px 4px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    &:hover {
       background-color: #45a049; 
    }
}
.fulldata {
    width: 580px;
    margin-top: 10px;
    height: auto;
    float: left;
    background-color: trasparent;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 0;
    padding: 10px;
    margin-bottom: 10px;
    transition: box-shadow .3s;
    white-space: pre-wrap;
    word-wrap: break-word;
}
input {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    margin: auto;
    width: 50%;
    height: 300px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    width: auto;
    background-color: #4CAF50;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    padding: 10px;
    margin: 8px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    &:hover {
       background-color: #45a049; 
    }
}
.search {
    position: relative;
    left: 20%;
}
